<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-title>
     To Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h1>Aujourd'hui</h1>
  </ion-text>
  <ion-text color="secondary">
    <h3></h3>
  </ion-text>
  <ion-card>

    <ion-card-content>
      <ion-item-sliding>
        <ion-item>
          <ion-checkbox labelPlacement="end">tache 1</ion-checkbox>        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
       </ion-card-content>
  </ion-card>
  <ion-button expand="block"><ion-icon slot="start" name="add"></ion-icon>Ajouter une tâche</ion-button>



</ion-content>
